* {
  font-size: 14px;
}

body {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

h1 {
  color: deeppink;
}

.product-cart-info {
  width: 100%;
}

.item_hr {
  width: 50%;
}

.product_name {
  font-weight: 700;
}

.btn-primary {
  border: none;
}

.submit-btn {
  text-align: right;
}

.img-responsive {
  width: 396px;
}

.container {
  width: 396px;
}

.carousel-container {
  width: 396px;
}
